@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --blue: #383e56;
    --white: #eedad1;
    --orange: #f69e7b;
    --pink: #d4b5b0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--pink);
    height: calc(100vh - 2em);
    color: var(--blue);
    font-weight: 700;
}


/* ------------
    Navbar
------------ */

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
}

.hamburger {
    width: 30px;
    height: 30px;
    margin: 1.5em;
}

.cross {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 2.5%;
    right: 5%;
}

.nav-element {
    display: none;
}

.logo {
    margin-left: 1em;
    font-size: 1.5rem;
}

.logo-a {
    text-decoration: none;
    color: inherit;
}

.nav-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    height: 100vh;
    background-color: var(--orange);
    color: var(--blue);
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100vh;
    overflow-x: hidden;
    visibility: hidden;
    transition: all 250ms ease-in-out;
}

.nav-modal ul {
    list-style-type: none;
    font-weight: 700;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-list-item {
    list-style-type: none;
    padding: 0.5em;
    margin: 0;
    transition: 100ms;
    font-weight: 700;
    margin-left: -1.5em;
    font-size: 2rem;
    margin-bottom: 1em;
}

.nav-list-item a {
    text-decoration: none;
    color: inherit;
}

.active-nav {
    visibility: visible;
    width: 100%;
}





.work,
.work-cards {
    text-align: center;
    border: 2px solid transparent;
}

.project-card {
    background-color: var(--blue);
    border-radius: 5px;
    max-width: 65%;
    margin: 1.5em auto;
    padding-bottom: .5em;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 1em;
    margin-top: 3.5em;
}

.project-card--img {
    max-width: 90%;
    margin: 1em;
    border-radius: 5px;
    object-fit: cover;
}

.project-card--title {
    font-size: 1.5rem;
    color: var(--white);
    margin: 0;
}

.project-card--btn {
    background-color: var(--orange);
    color: var(--blue);
    text-decoration: none;
    font-weight: 700;
    padding: .5em 1.5em;
    width: 8em;
    text-align: center;
    border-radius: 5px;
    display: block;
    margin: 1em auto;
}

.work-cards-btn {
    margin: 0 auto;
}


.accent-btn {
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    padding: .5em 1.5em;
    width: 8em;
    text-align: center;
    margin-top: -2em;
    border-radius: 5px;
}




footer {
    background-color: var(--blue);
    height: 6em;
    margin-top: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--pink);
}

footer p {
    opacity: .8;
    font-weight: 700;
    font-size: .625rem;
}

footer img {
    opacity: .8;
    width: 20px;
    margin: .25em;
}
