@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --blue: #383e56;
    --white: #eedad1;
    --orange: #f69e7b;
    --pink: #d4b5b0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--blue);
    height: calc(100vh - 2em);
    color: var(--white);
}


/* ------------
    Navbar
------------ */

header {
    display: flex;
    justify-content: space-between;
}

.hamburger {
    width: 30px;
    height: 30px;
    margin: 1.5em;
}

.cross {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 2.5%;
    right: 5%;
}

.nav-element {
    display: none;
}

.logo {
    margin-left: 1em;
    font-size: 1.5rem;
}

.nav-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    height: 100vh;
    background-color: var(--orange);
    color: var(--blue);
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100vh;
    overflow-x: hidden;
    visibility: hidden;
    transition: all 250ms ease-in-out;
}

.nav-modal ul {
    list-style-type: none;
    font-weight: 700;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-list-item {
    list-style-type: none;
    padding: 0.5em;
    margin: 0;
    transition: 100ms;
    font-weight: 700;
    margin-left: -1.5em;
    font-size: 2rem;
    margin-bottom: 1em;
}

.active-nav {
    visibility: visible;
    width: 100%;
}


/* ------------
    Hero
------------ */

.hero-section {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-section h1 {
    font-size: 4.5rem;
    margin-left: .25em;
    margin-top: 3em;
    margin-bottom: .5em;
    line-height: 70px;
}

.accent-btn {
    background-color: var(--orange);
    color: var(--blue);
    text-decoration: none;
    font-weight: 700;
    padding: .5em 1.5em;
    margin-left: 1.5em;
    width: 8em;
    text-align: center;
    margin-top: -2em;
    border-radius: 5px;
}

.hero-section img {
    width: 60vw;
    object-fit: cover;
    margin: 0 auto;
}



.about-me {
    text-align: center;
}

.section-title {
    font-size: 2.25rem;
    margin-bottom: 0;
}

.about-me p {
    font-size: 1rem;
    max-width: 70%;
    margin: 1em auto;
    text-align: left;
    line-height: 24px;
}

.about-me img {
    width: 70%;
    display: block;
    margin: 1.5em auto 2em;
    border-radius: 5px;
}

.about-me .accent-btn {
    margin-left: 0;
}



.work-cards {
    text-align: center;
}

.work {
    text-align: center;
}

.project-card {
    background-color: var(--orange);
    border-radius: 5px;
    max-width: 65%;
    margin: 1.5em auto;
    padding-bottom: .5em;
}

.work .section-title {
    margin-top: 3em;
}

.project-card--img {
    max-width: 90%;
    margin: 1em;
    border-radius: 5px;
    object-fit: cover;
}

.project-card--title {
    font-size: 1.5rem;
    color: var(--blue);
    margin: 0;
}

.project-card--btn {
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    padding: .5em 1.5em;
    width: 8em;
    text-align: center;
    border-radius: 5px;
    display: block;
    margin: 1em auto;
}

.work-cards-btn {
    margin: 0 auto;
}



.contact {
    margin: 0 auto;
    text-align: center;
}

.contact .section-title {
    margin: 3em 0 1em 0;
}

.contact-input,
.input-fields textarea {
    display: block;
    border: none;
    border-radius: 5px;
    margin: 1em auto;
    padding: .75em 1.5em;
    background-color: var(--pink);
    font-family: inherit;
    color: var(--blue);
    font-weight: 700;
    width: 50%;
    outline: none;
    width: 60%;
}

.contact button {
    border: none;
    margin: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    margin-top: 1em;
}



footer {
    background-color: var(--pink);
    height: 5em;
    margin-top: 3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
}

footer p {
    opacity: .5;
    font-weight: 700;
}
